// generic styling components 
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

a {
  text-decoration: none;
}

.h1 {
  font-family: "Alata";
  font-size: 3.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.h2 {
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.h3 {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.icon {
  padding-top: 24px;
  height: 25px; 
  width: 25px;
}

// homepage
.home {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../assets/background4.jpg);
  //background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 100%;
}

.home__title {
  padding-top: 450px;
}

.home__description {
  padding: 16px 0px 16px 0px;
}

.linkedin {
  padding-right: 10px;
}

// about me 
.about {
  padding: 0 200px;
  text-align: center;
  height: 100%;
}

.about__title {
  display: block;
  color: black; 
  padding-bottom: 20px;
}

.about__description {
  padding: 5px 300px;
  display: block;
  color: black;
}

.image {
  padding-top: 200px;
}

.profile {
  border-radius: 50%;
  width: 10%;
  padding-bottom: 15px;
}