html {
  height: 100%; 
  width: 100%;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../background1.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover ;
  background-color: #464646;
  text-align: center;
}

.h1 {
  font-family: "Alata";
  font-size: 2.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.h2 {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.title {
  padding-top: 600px;
}

.description {
  padding-top: 16px;
}